@import "../../../../styles/dashboard/variables.module";
.container {
   width: 500px;
   height: 250px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
   background-color: #fff;
   box-shadow: 0px 0px 3px 0px #ccc;
   flex-direction: column;
   padding: 20px;
   gap: 20px;
   position: relative;
   form {
      width: 100%;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3px;
      button {
         height: 100%;
         width: 100%;
         border-radius: 3px;
         border: none;
         cursor: pointer;
      }
      .addBtnGrp {
         width: 100%;
         height: 50px;
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 3px;
         button {
            height: 100%;
            width: 100%;
            border-radius: 3px;
            border: none;
            cursor: pointer;
         }
         .addBtn {
            background-color: $primaryBtn;
            color: #fff;
         }
      }
   }
}
