@import "../../variables.module";

.container {
   width: 100%;
   padding: 10px;
   .overlay {
      width: 100%;
      inset: 0;
      position: fixed;
      background-color: rgba(255, 255, 255, 0.6);
      display: flex;
      align-items: center;
      justify-content: flex-end;
   }
   .table {
      table {
         width: 100%;
         border-collapse: collapse;
         thead,
         tbody {
            width: 100%;
            tr {
               border-bottom: 1px solid #ccc;
               &:nth-last-child(1) {
                  border: none;
               }
               th {
                  background-color: $primaryBtn;
                  color: #fff;
                  padding: 0 10px;
                  height: 60px;
               }
               td {
                  padding: 10px;
                  width: 250px;
                  text-align: center;
                  height: 60px;
               }
               .viewBtn {
                  height: 40px;
                  width: 80px;
                  border-radius: 4px;
                  border: none;
                  cursor: pointer;
                  background-color: transparent;
                  border: 2px solid $primaryBtn;
                  span {
                     font-weight: 600;
                     color: $primaryBtn;
                  }
                  &:hover {
                     background-color: $primaryBtn;
                     span {
                        color: #fff;
                     }
                  }
               }
            }
         }
      }
   }
}
