.container {
   width: auto;
   padding: 15px 25px;
   background-color: #37ce85;
   position: absolute;
   right: 20px;
   top: 20px;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 5px;
   span {
      color: #fff;
      font-size: 18px;
   }
   svg {
      stroke: #fff;
   }
}
