@use "../dashboard/variables.module" as *;

.container {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 20px;
   padding: 10px;

   .notification {
      width: 500px;

      .notificationHeader {
         padding: 5px;
         border-bottom: 1px solid #ccc;
         display: flex;
         flex-direction: column;
         gap: 10px;

         h2 {
            font-size: 22px;
         }

         .btnGrp {
            width: 100%;
            display: flex;
            gap: 5px;

            button {
               width: auto;
               height: 45px;
               border: none;
               padding: 0 25px;
               background-color: transparent;
               border-radius: 5px;

               &:hover {
                  background-color: $primaryBtn;
                  color: #fff;
                  cursor: pointer;
               }
            }

            .actives {
               background-color: $primaryBtn;
               color: #fff;
            }
         }
      }

      .notificationBody {
         height: 500px;
         display: flex;
         align-items: center;
         flex-direction: column;
         gap: 10px;
         padding: 10px 0;
         overflow-y: auto;

         .noNotification {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            svg {
               stroke: #9c9c9c;
            }

            h2 {
               font-size: 18px;
               font-weight: 600;
               color: #9c9c9c;
            }

            span {
               color: #9c9c9c;
               font-size: 16px;
            }
         }

         &::-webkit-scrollbar {
            width: 5px;
         }

         &::-webkit-scrollbar-thumb {
            background-color: #ccc;
         }

         svg {
            stroke-width: 1.2px;
         }

         .notificationCard {
            width: 100%;
            padding: 15px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            user-select: none;

            cursor: pointer;

            P {
               font-size: 16px;
            }

            h2 {
               font-size: 17px;
            }

            span {
               font-size: 14px;
            }
         }
      }
   }

   .goback {
      width: 500px;
      height: 45px;
      background-color: $primaryBtn;
      border-radius: 3px;
      border: none;
      color: #fff;
   }
}