@use "../../variables.module" as *;

.container {
   width: auto;
   padding: 10px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   .headerContainer {
      width: 100%;
   }
   .main {
      display: flex;
      flex-direction: column;
      .boxHeader {
         width: 100%;
         height: 70px;
         .calendar {
            width: 250px;
            height: 45px;
            box-shadow: 0px 0px 3px 0px #ccc;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .selectedDate {
               width: 100%;
               padding: 0 10px;
               user-select: none;
               cursor: pointer;
            }
            button {
               width: 60px;
               border: none;
               background-color: transparent;
               border-left: 1px solid #ccc;
               display: flex;
               justify-content: center;
               align-items: center;
            }
         }
         .dateExport {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 10px;
            .export {
               width: 150px;
               height: 45px;
               background-color: $primaryBtn;
               color: #fff;
               border-radius: 3px;
               border: none;
               display: flex;
               align-items: center;
               justify-content: center;
               gap: 8px;
               cursor: pointer;
               svg {
                  stroke-width: 1.5px;
               }
            }
         }
      }
      .otherBox {
         width: 100%;
         display: flex;

         gap: 10px;
         .sideChart {
            width: 300px;
            height: 350px;
            box-shadow: 0px 0px 3px 0px #ccc;
            padding: 20px;
            border-radius: 5px;
            h2 {
               height: 50px;
               font-size: 1rem;
            }
         }

         .box1 {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            padding: 0;
            flex-direction: column;

            .revenue {
               width: 100%;
               display: flex;
               justify-content: space-between;
               gap: 10px;
               box-shadow: 0px 0px 3px 0px #ccc;
               .rev {
                  width: 100%;
                  height: 100px;
                  display: flex;
                  align-items: center;
                  gap: 10px;
                  hr {
                     width: 0px;
                     height: 80px;
                     border: 1px solid #eee;
                  }
                  .profit {
                     width: 250px;
                     height: 80px;
                     padding: 10px;
                     display: flex;
                     align-items: center;
                     gap: 5px;
                     user-select: none;
                     .body1 {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        svg {
                           stroke: $primaryBtn;
                        }
                        .body2 {
                           h2 {
                              font-size: 16px;
                              color: $primaryBtn;
                           }
                           span {
                              font-size: 20px;
                           }
                        }
                     }
                  }
               }
            }
         }
         .charts {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 5px;

            .chart1 {
               width: 100%;
               padding: 10px;
               border-radius: 5px;
               box-shadow: 0px 0px 3px 0px #ccc;
               margin: 10px 0;
               .line {
                  width: 100%;
                  height: 500px;
               }
               .selection {
                  width: 100%;
                  align-items: flex-start;
                  border-bottom: 1px solid #ccc;
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
                  position: relative;
                  padding: 10px 0;
                  .select {
                     width: 90px;
                     height: 40px;
                     border: 1px solid #ccc;
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     border-radius: 5px;
                     user-select: none;
                     cursor: pointer;
                     span {
                        font-size: 15px;
                     }
                     &:hover {
                        background-color: $primaryBtn;
                        color: #fff;
                     }
                  }
                  .options {
                     position: absolute;
                     top: 55px;
                     width: 140px;
                     height: auto;
                     background-color: #fff;
                     border: 1px solid #ccc;
                     border-radius: 5px;
                     button {
                        width: 100%;
                        height: 35px;
                        border: none;
                        background-color: transparent;
                        text-align: left;
                        padding: 0 10px;
                        cursor: pointer;
                        &:nth-child(1) {
                           border-top-left-radius: 5px;
                           border-top-right-radius: 5px;
                        }
                        &:nth-child(3) {
                           border-bottom-left-radius: 5px;
                           border-bottom-right-radius: 5px;
                        }
                        &:hover {
                           background-color: $primaryBtn;
                           color: #fff;
                        }
                     }
                  }
               }
            }
         }
      }
   }
}
