@import "../../../styles/dashboard/variables.module";

.container {
   width: 500px;
   height: 100vh;
   background-color: #fff;
   display: flex;
   justify-content: center;
   flex-direction: column;
   box-shadow: 0px 0px 3px 0px #ccc;
   padding: 20px;
   gap: 10px;
   .header {
      height: 100%;
      display: flex;
      flex-direction: column;
      text-align: left;
      gap: 20px;
      h2 {
         padding: 15px 0;
      }
      span {
         text-align: justify;
         font-size: 1rem;
      }
   }
   form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .addBtnGrp {
         width: 100%;
         height: 55px;
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 3px;
         button {
            height: 100%;
            width: 100%;
            border-radius: 3px;
            border: none;
            cursor: pointer;
            span {
               font-size: 16px;
            }
            &:hover {
               &:nth-child(1) {
                  &::after {
                     content: "";
                     display: none;
                  }
               }
               &:nth-child(2) {
                  &::after {
                     content: "";
                     display: none;
                  }
               }
            }
         }
         .addBtn {
            background-color: $primaryBtn;
            color: #fff;
         }
      }
   }
}
