@use "../../../../styles/dashboard/variables.module" as *;

.container {
   width: 100%;
   min-height: 200px;
   max-height: auto;
   box-shadow: 0px 0px 3px #ccc;
   display: flex;
   justify-content: center;
   flex-direction: column;
   justify-content: space-between;
   padding: 10px;
   background-color: #fff;
   border-radius: 5px;

   .specify {
      width: 100%;
      height: 40px;
      display: flex;
      user-select: none;
      justify-content: space-between;
      align-items: center;

      span {
         font-size: 1rem;
      }
   }

   .shoppingInfo {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      user-select: none;
      gap: 20px;

      h2 {
         font-size: 1.1rem;
      }

      span {
         font-size: 16px;
      }
   }

   .shoppingCart {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      gap: 10px;

      .addQ {
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: flex-end;
         gap: 10px;
      }

      span {
         width: 20px;
         text-align: center;
         color: $primaryBtn;
         font-weight: 600;
      }

      button {
         width: 45px;
         height: 45px;
         display: flex;
         align-items: center;
         justify-content: center;
         border: 1px solid $primaryBtn;
         border-radius: 3px;
         cursor: pointer;
         background-color: transparent;

         svg {
            stroke: $primaryBtn;
         }

         &:hover {
            background-color: $primaryBtn;
            border: none;

            svg {
               stroke: #fff;
            }
         }

         &:disabled {
            background-color: $disableBtn;
            border: none;
            cursor: not-allowed;

            &:hover {
               svg {
                  stroke: $primaryBtn;
               }
            }
         }
      }

      .active,
      .inactive {
         width: 100%;
      }

      .active {
         background-color: $primaryBtn;
         border: none;

         svg {
            stroke: #fff;
         }
      }
   }
}