@import "../../../styles/dashboard/variables.module";

.container {
   width: 500px;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
   background-color: #fff;
   box-shadow: 0px 0px 3px 0px #ccc;
   flex-direction: column;
   padding: 10px;
   position: relative;
   h2 {
      text-align: left;
   }
   form {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 20px;
      gap: 10px;
      label {
         font-size: 14px;
      }
      .inp {
         height: 45px;
         border-radius: 3px;
         border: none;
         box-shadow: 0px 0px 3px 0px #ccc;
         padding: 10px;
      }
      .selection {
         display: flex;
         flex-direction: column;
         position: relative;
         .select {
            height: 45px;
            border-radius: 3px;
            border: none;
            box-shadow: 0px 0px 3px 0px #ccc;
            padding: 10px;
            user-select: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
               font-size: 14px;
            }
         }
         .options {
            width: 100%;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 50px;
            border-radius: 5px;
            gap: 0;
            box-shadow: 0px 0px 3px 0px #ccc;
            button {
               padding: 15px;
               background-color: transparent;
               border: none;
               text-align: left;
               cursor: pointer;

               &:hover {
                  background-color: $primaryBtn;
                  color: #fff;
               }
               &:nth-child(1) {
                  border-top-right-radius: 3px;
                  border-top-left-radius: 3px;
               }
               &:nth-last-child(1) {
                  border-bottom-right-radius: 3px;
                  border-bottom-left-radius: 3px;
               }
            }
            .active {
               background-color: $primaryBtn;
               color: #fff;
            }
         }
      }
      .addBtnGrp {
         width: 100%;
         height: 50px;
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 3px;
         button {
            height: 100%;
            width: 100%;
            border-radius: 3px;
            border: none;
            cursor: pointer;
         }
         .addBtn {
            background-color: $primaryBtn;
            color: #fff;
         }
      }
   }
}
