@import "../../../styles/dashboard/variables.module";

.container {
   width: 500px;
   height: 100vh;
   background-color: #fff;
   display: flex;
   justify-content: center;
   flex-direction: column;
   box-shadow: 0px 0px 3px 0px #ccc;
   padding: 20px;
   gap: 10px;
   position: relative;
   .editHeader {
      width: 100%;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      button {
         height: 40px;
         width: 40px;
         display: flex;
         align-items: center;
         justify-content: center;
         background-color: transparent;
         border: none;
         border-radius: 100px;
         cursor: pointer;
         svg {
            stroke: $primaryBtn;
         }
         &:hover {
            background-color: #e4e4e4;

            &:nth-child(2) {
               &::after {
                  content: "";
                  display: none;
               }
            }
            &:nth-child(3) {
               svg {
                  stroke: $secondaryBtn;
               }
            }
         }
      }
   }
   form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .ss {
         height: 100%;
         display: flex;
         justify-content: flex-start;
         flex-direction: column;
         gap: 10px;
         div {
            display: flex;
            flex-direction: column;
            gap: 10px;
            label {
               text-align: left;
            }
         }
      }
      label {
         font-size: 14px;
      }

      .inp {
         height: 45px;
         border-radius: 3px;
         border: none;
         box-shadow: 0px 0px 3px 0px #ccc;
         padding: 10px;
      }

      .addBtnGrp {
         width: 100%;
         height: 55px;
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 3px;
         button {
            height: 100%;
            width: 100%;
            border-radius: 3px;
            border: none;
            cursor: pointer;
            &:hover {
               &:nth-child(1) {
                  &::after {
                     content: "";
                     display: none;
                  }
               }
            }
            span {
               font-size: 16px;
            }
         }
         .addBtn {
            background-color: $primaryBtn;
            color: #fff;
         }
      }
   }
}
