@import "../../variables.module";

.container {
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;

   .divContainer {
      display: grid;
      grid-template-columns: repeat(2, auto);
      align-items: center;
      justify-content: center;
      gap: 30px;
      .sidebar {
         width: 260px;
         height: 700px;
         border-right: 1px solid #ccc;
         display: flex;
         flex-direction: column;
         justify-content: center;
         gap: 10px;
         padding: 20px 10px;
         h2 {
            font-size: 20px;
         }
         hr {
            width: 100%;
            background-color: #f5f5f5;
         }
         .sidebarContainer {
            width: 100%;
            height: 500px;
         }
         .active {
            display: flex;
            align-items: center;
            width: 100%;
            height: 50px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            background-color: transparent;
            padding: 0 10px;
            gap: 5px;
            background-color: #365ea3;
            color: #fff;
            svg {
               stroke-width: 1.5px;
            }
            span {
               font-size: 16px;
            }
         }
         .sidebarBtn {
            display: flex;
            align-items: center;
            width: 100%;
            height: 50px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            padding: 0 10px;
            gap: 5px;
            background-color: transparent;
            padding: 0 5px;
            svg {
               stroke-width: 1.5px;
            }
            span {
               font-size: 16px;
            }
         }
         .logoutBtn {
            display: flex;
            align-items: center;
            width: 100%;
            border-radius: 3px;
            border: none;
            cursor: pointer;
            padding: 13px 5px;
            gap: 5px;
            background-color: transparent;

            &:hover {
               background-color: $secondaryBtn;
               color: #fff;
            }
            svg {
               stroke-width: 1.5px;
            }
            span {
               font-size: 16px;
            }
         }
         .versioning {
            height: 40px;
            display: flex;
            align-items: center;
            .systemVersion {
               font-size: 14px;
            }
         }
      }
      .content {
         width: 800px;
         height: 700px;
         overflow-y: auto;
         padding: 0 15px;
         &::-webkit-scrollbar {
            width: 5px;
         }
         &::-webkit-scrollbar-thumb {
            background-color: #ccc;
         }
         .headclose {
            width: 100%;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0 10px;
            .settingClosed {
               width: 35px;
               height: 35px;
               border-radius: 100px;
               display: flex;
               align-items: center;
               justify-content: center;
               border: none;
               background-color: transparent;
               cursor: pointer;
               svg {
                  stroke-width: 1.5px;
                  stroke: $primaryBtn;
               }
               &:hover {
                  background-color: $primaryBtn;
                  svg {
                     stroke: #fff;
                  }
               }
            }
         }
      }
   }
}
