@use "../../../styles/dashboard/variables.module" as *;

.container {
   width: 100%;
   height: 100vh;
   background-color: $primaryBtn;
   position: relative;

   .carousel {
      padding: 30px;
      height: 100%;

      .car {
         width: 100%;
         height: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         gap: 20px;

         span {
            text-align: justify;
            color: #fff;
            font-size: 18px;
         }
      }
   }

   .indicator {
      width: 100%;
      position: absolute;
      bottom: 0;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      button {
         height: 8px;
         width: 8px;
         border-radius: 100px;
         border: none;
      }

      .active {
         width: 45px;
         height: 8px;
         background-color: #fff;
      }
   }

   @media screen and (max-width: 700px) {
      display: none;
   }
}