@import "../.././../../styles/dashboard/variables.module";

.container {
   width: 100%;
   padding: 10px 0;
   table {
      width: 100%;
      border-collapse: collapse;
      thead,
      tbody {
         width: 100%;
         tr {
            border-bottom: 1px solid #ccc;
            &:nth-last-child(1) {
               border-bottom: 1px solid #ccc;
            }
            th {
               background-color: $primaryBtn;
               color: #fff;
               padding: 0 10px;
               height: 60px;
               &:nth-child(1) {
                  width: 300px;
               }
               &:nth-child(2) {
                  width: 300px;
               }
               &:nth-child(3) {
                  width: 300px;
               }
            }
            td {
               width: 250px;
               vertical-align: middle;
               text-align: center;
               justify-content: center;
               &:nth-child(1) {
                  width: 300px;
                  border-right: 1px solid #ccc;
               }
               &:nth-child(3) {
                  width: 300px;
                  border-right: 1px solid #ccc;
               }
               &:nth-child(4) {
                  width: 300px;
                  border-right: 1px solid #ccc;
               }
               .overlay {
                  width: 100%;
                  inset: 0;
                  position: fixed;
                  background-color: rgba(255, 255, 255, 0.8);
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  z-index: 999;
               }
               .overlay2 {
                  width: 100%;
                  inset: 0;
                  position: fixed;
                  background-color: rgba(255, 255, 255, 0.2);
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
               }
               padding: 10px;
            }
            .actionsBtn {
               display: flex;
               align-items: center;
               justify-content: flex;
               vertical-align: middle;
               width: 100%;
               .actBtn {
                  height: 40px;
                  width: 40px;
                  border-radius: 100px;
                  border: none;
                  cursor: pointer;
                  background-color: transparent;
                  position: relative;
                  svg {
                     stroke: $primaryBtn;
                  }
                  &:hover {
                     background-color: #e4e4e4;
                     &::after {
                        content: "UnArchive";
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: 28px;
                        left: -12px;
                        background-color: $primaryBtn;
                        padding: 5px;
                        border-radius: 5px;
                        color: #fff;
                        font-size: 12px;
                     }
                  }
               }
            }
         }
      }
   }
}
